*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 20px;
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.navigation {
  font-size: 14px;
  background-color: rgb(246, 246, 235);
  color: rgb(56, 31, 209);
}
.navigation__container {
  padding: 16px;
  width: 90%;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.navigation__menu-group {
  display: flex;
  align-items: center;
  font-weight: 900;
  text-wrap: nowrap;
}
.navigation__menu-group--left {
  gap: 13px;
  padding-inline: 8px;
  padding-block: 0px;
}
.navigation__menu-group--right {
  gap: 16px;
}
.navigation__logo {
  height: 32px;
  aspect-ratio: 350/51;
  margin-right: -170px;
}
.navigation__arrow {
  margin: 0 0 0 4px;
  margin-left: -15px;
}
@media (width < 850px) {
  .navigation__arrow {
    display: none;
  }
}
.navigation__btn {
  padding-inline: 8px;
  padding-block: 0px;
  line-height: 32px;
  border-radius: 8px;
}
.navigation__btn--fill {
  background-color: rgb(56, 31, 209);
  color: #fff;
}
@media (width < 850px) {
  .navigation__btn--none {
    display: none;
  }
}

.background {
  background-color: #11284b;
  color: #fff;
}

.footer {
  justify-content: center;
  margin-top: 96px;
  max-width: 1948px;
  padding-inline: 24px;
  margin-inline: auto;
}
.footer__grid {
  margin-top: 5rem;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, 254px);
  max-width: 1160px;
  margin-inline: auto;
  gap: 3rem;
}
.footer__grid--text {
  max-width: 254px;
}
.footer__grid--text--14px {
  font-size: 0.875rem;
  font-weight: 900;
  margin-bottom: 8px;
}
.footer__grid--text--16px {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
}
.footer__item {
  justify-content: space-between;
  margin-block: 5rem;
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
  max-width: 72.5rem;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 32px repeat(auto-fit, 32px);
  row-gap: 12px;
  padding-bottom: 80px;
  grid-template-columns: 208px 620px;
}
.footer__item--left {
  display: flex;
  max-width: 208px;
  justify-content: space-between;
}
.footer__item--left--logo {
  max-width: 100%;
  display: block;
}
.footer__item--left--logo > a > img {
  height: 32px;
  width: 32px;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer__item--right {
  color: #fedb63;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.28px;
  max-width: 620.25px;
  text-align: right;
}